.form{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
@media(max-width:650px){
    .form{
        padding-top: 40%;
    }
}
.user-input{
    padding: 7px;
    border-radius: 20px;
    border: 1px solid tomato;
    outline: none;
}
button{
    padding: 2%;
    border-radius: 20px;
    width: 100px;
    border: 1px dashed blue;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(138, 249, 249);
}
